<a href="https://colab.research.google.com/github/Wanita-8943/data_viz_2022/blob/main/Final_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

จากโจทย์
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw )

#**เรียกใช้ฟังฟ์ชั่น**

In [4]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

#**นำเข้าไฟล์**

In [5]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [6]:
path = '/content/drive/My Drive/FinalDataViz'

##**ตารางที่ 1**

In [25]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv')) #อ่านไฟล์ csv นำเข้าไฟล์ alldb.csv
data1 #แสดงข้อมูลตาราง data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##**ตรวจสอบขนาด**

In [26]:
data1.shape #ตรวจสอบขนาด

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบหาค่า NaN หรือ Missing

In [27]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

# Data Preprocessing

In [28]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']] # เลือกเฉพาะคอลัมน์ที่ต้องการ
data #แสดงข้อมูลตาราง data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [29]:
data_drop = data.dropna()  # ลบข้อมูลที่เป็นค่า NaN ทิ้ง
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

In [30]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                   
data_drop.head()

(37772, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [31]:
set(data_drop['PartitionKey']) # ดู set ข้อมูลของ 'PartitionKey'

{'02849',
 '04168',
 '02379',
 '01209',
 '03298',
 '00429',
 '03054',
 '06312',
 '01258',
 '02267',
 '00253',
 '04696',
 '01442',
 '01972',
 '01810',
 '00028',
 '06723',
 '00893',
 '00685',
 '01308',
 '03437',
 '02941',
 '02086',
 '06052',
 '00387',
 '02763',
 '09040',
 '00241',
 '02807',
 '00051',
 '01674',
 '02952',
 '09004',
 '02612',
 '00993',
 '03322',
 '00319',
 '00371',
 '01715',
 '00641',
 '02348',
 '01259',
 '02799',
 '00991',
 '01385',
 '02077',
 '01587',
 '01691',
 '04165',
 '01776',
 '01062',
 '00410',
 '01142',
 '03488',
 '03016',
 '01081',
 '01064',
 '00880',
 '00161',
 '02864',
 '01413',
 '02909',
 '01184',
 '01451',
 '01801',
 '01821',
 '01462',
 '03291',
 '00059',
 '00786',
 '00584',
 '00630',
 '01924',
 '01306',
 '00156',
 '01577',
 '04753',
 '01958',
 '09028',
 '01846',
 '00326',
 '01247',
 '01342',
 '00639',
 '01815',
 '00965',
 '02510',
 '00262',
 '02349',
 '00331',
 '02936',
 '00653',
 '01708',
 '01930',
 '03128',
 '03134',
 '05967',
 '02367',
 '05127',
 '01222',
 '00300',
 '02564',
 '00975',
 '01431',
 '03144',
 '00644',
 '00652',
 '00614',
 '01855',
 '02796',
 '08905',
 '02338',
 '02356',
 '04660',
 '05259',
 '01731',
 '02189',
 '01888',
 '00182',
 '01786',
 '02333',
 '00417',
 '00811',
 '01285',
 '01486',
 '00032',
 '06012',
 '02555',
 '06729',
 '03199',
 '01894',
 '03229',
 '06033',
 '01600',
 '01999',
 '03538',
 '01818',
 '03008',
 '02958',
 '02938',
 '01527',
 '01636',
 '00137',
 '08959',
 '00285',
 '00780',
 '08956',
 '00521',
 '02997',
 '02944',
 '01010',
 '00985',
 '02002',
 '10964',
 '03300',
 '06008',
 '00698',
 '04017',
 '04671',
 '00001',
 '01040',
 '02889',
 '00645',
 '00330',
 '04735',
 '02508',
 '02375',
 '00228',
 '09042',
 '00461',
 '00265',
 '00229',
 '02676',
 '03315',
 '04672',
 '00649',
 '00135',
 '00947',
 '00944',
 '00799',
 '05116',
 '00776',
 '02407',
 '00316',
 '03003',
 '05255',
 '02084',
 '01170',
 '00011',
 '01883',
 '00927',
 '00472',
 '02135',
 '00559',
 '04652',
 '02388',
 '03338',
 '03073',
 '00675',
 '01203',
 '01304',
 '01724',
 '01979',
 '02188',
 '00878',
 '00298',
 '00667',
 '01152',
 '01175',
 '02123',
 '00421',
 '08519',
 '01027',
 '08920',
 '00964',
 '01330',
 '00181',
 '01917',
 '01867',
 '06721',
 '01101',
 '02771',
 '02027',
 '02377',
 '00486',
 '02058',
 '03234',
 '02074',
 '00973',
 '01198',
 '01643',
 '03379',
 '03725',
 '01814',
 '03372',
 '01844',
 '00022',
 '02856',
 '02678',
 '04781',
 '02078',
 '01050',
 '02595',
 '00307',
 '01263',
 '00712',
 '01541',
 '03328',
 '03014',
 '00966',
 '01585',
 '00269',
 '02518',
 '03107',
 '00318',
 '01837',
 '01892',
 '00573',
 '01412',
 '00294',
 '01833',
 '04059',
 '00374',
 '01797',
 '00075',
 '00917',
 '03711',
 '01483',
 '01796',
 '03335',
 '02873',
 '05106',
 '00636',
 '03385',
 '06038',
 '01009',
 '01166',
 '00004',
 '02601',
 '08943',
 '08963',
 '00200',
 '00929',
 '01822',
 '01693',
 '08986',
 '01488',
 '01266',
 '01271',
 '02677',
 '01056',
 '00549',
 '01485',
 '01329',
 '03062',
 '00777',
 '04018',
 '05096',
 '02253',
 '02387',
 '04662',
 '00769',
 '01863',
 '08998',
 '00380',
 '03031',
 '02860',
 '04642',
 '01723',
 '02875',
 '03153',
 '02818',
 '00196',
 '03206',
 '00726',
 '00983',
 '01719',
 '08503',
 '08383',
 '01320',
 '01274',
 '09023',
 '00735',
 '04697',
 '01659',
 '05350',
 '03224',
 '01908',
 '09013',
 '02604',
 '00813',
 '00978',
 '01901',
 '00449',
 '03403',
 '01409',
 '01212',
 '01546',
 '00034',
 '01369',
 '08951',
 '01260',
 '09033',
 '02792',
 '06009',
 '09002',
 '02107',
 '01750',
 '01350',
 '00119',
 '00308',
 '00268',
 '00518',
 '01681',
 '02361',
 '08945',
 '02106',
 '01422',
 '00162',
 '01231',
 '04631',
 '06020',
 '00491',
 '00739',
 '01043',
 '02262',
 '01605',
 '01825',
 '01841',
 '02979',
 '01956',
 '01446',
 '00666',
 '01637',
 '05308',
 '03060',
 '00987',
 '00833',
 '02062',
 '00251',
 '01181',
 '01907',
 '02321',
 '02196',
 '03347',
 '01262',
 '01273',
 '00258',
 '03255',
 '00434',
 '00647',
 '02986',
 '01511',
 '01717',
 '02480',
 '02781',
 '01919',
 '06036',
 '09034',
 '02014',
 '06022',
 '02201',
 '02167',
 '03052',
 '02153',
 '03124',
 '03544',
 '00886',
 '02914',
 '01687',
 '01066',
 '02406',
 '00139',
 '01458',
 '03909',
 '02737',
 '00501',
 '00817',
 '02209',
 '00766',
 '04136',
 '02434',
 '03324',
 '05290',
 '09009',
 '01658',
 '00939',
 '04189',
 '00590',
 '00800',
 '01079',
 '00876',
 '01534',
 '02030',
 '03461',
 '05957',
 '08939',
 '01248',
 '02975',
 '01675',
 '05227',
 '01061',
 '01185',
 '02404',
 '10985',
 '01584',
 '02513',
 '00673',
 '00098',
 '02017',
 '00302',
 '03168',
 '01310',
 '01528',
 '01574',
 '03345',
 '01700',
 '04695',
 '00974',
 '03189',
 '01807',
 '01652',
 '02516',
 '02841',
 '05828',
 '01073',
 '00175',
 '02094',
 '03272',
 '05339',
 '01887',
 '02619',
 '02544',
 '01545',
 '02212',
 '00760',
 '01106',
 '01373',
 '00346',
 '00432',
 '02364',
 '04111',
 '01842',
 '02632',
 '06726',
 '02767',
 '00220',
 '05100',
 '05343',
 '01902',
 '00752',
 '08925',
 '02279',
 '03317',
 '00248',
 '02517',
 '01074',
 '08903',
 '01555',
 '01554',
 '03939',
 '04127',
 '05720',
 '02319',
 '01084',
 '01144',
 '01633',
 '00632',
 '01920',
 '04693',
 '00768',
 '00233',
 '00351',
 '02011',
 '00402',
 '01208',
 '01688',
 '01340',
 '02519',
 '01234',
 '04016',
 '05962',
 '00823',
 '10970',
 '05302',
 '02670',
 '00764',
 '01713',
 '01514',
 '01214',
 '10988',
 '04788',
 '00126',
 '08985',
 '02578',
 '02218',
 '09015',
 '08916',
 '02438',
 '00782',
 '02034',
 '01710',
 '01500',
 '02685',
 '00860',
 '01603',
 '02507',
 '10974',
 '00488',
 '03215',
 '00433',
 '04644',
 '01523',
 '00081',
 '01426',
 '00021',
 '03095',
 '02766',
 '03358',
 '05247',
 '02204',
 '00273',
 '11007',
 '01000',
 '02032',
 '00722',
 '00625',
 '02006',
 '03096',
 '01726',
 '01679',
 '03410',
 '08987',
 '02004',
 '00206',
 '01830',
 '05202',
 '03948',
 '03378',
 '02230',
 '02400',
 '00127',
 '01034',
 '01630',
 '10969',
 '00787',
 '08921',
 '01685',
 '09001',
 '01519',
 '02437',
 '00940',
 '08910',
 '01471',
 '01039',
 '01690',
 '01280',
 '00356',
 '00849',
 '00954',
 '00226',
 '01512',
 '04101',
 '03239',
 '01895',
 '04661',
 '02464',
 '00426',
 '05115',
 '00195',
 '00527',
 '01124',
 '00446',
 '00847',
 '01889',
 '01114',
 '01994',
 '02610',
 '01922',
 '00325',
 '00033',
 '02846',
 '01443',
 '01921',
 '00554',
 '00728',
 '02056',
 '02504',
 '02537',
 '02688',
 '01670',
 '01817',
 '02987',
 '08927',
 '08937',
 '00642',
 '01022',
 '02154',
 '02980',
 '00953',
 '06027',
 '01884',
 '02335',
 '02777',
 '00638',
 '05963',
 '01232',
 '03140',
 '03804',
 '01187',
 '01728',
 '08572',
 '02702',
 '00533',
 '02402',
 '00522',
 '02029',
 '05101',
 '01978',
 '04638',
 '01510',
 '01705',
 '01194',
 '05718',
 '05354',
 '02036',
 '01031',
 '06049',
 '02208',
 '02588',
 '01880',
 '00398',
 '01502',
 '04011',
 '01653',
 '05147',
 '01104',
 '00877',
 '04639',
 '05996',
 '00711',
 '00874',
 '01380',
 '01053',
 '00705',
 '08995',
 '00718',
 '00628',
 '03384',
 '00232',
 '03499',
 '00853',
 '01284',
 '01966',
 '03432',
 '00120',
 '01346',
 '00013',
 '01090',
 '01765',
 '00201',
 '02794',
 '00560',
 '08922',
 '00281',
 '03472',
 '00513',
 '01859',
 '06021',
 '00613',
 '03129',
 '01521',
 '00684',
 '03521',
 '02330',
 '05130',
 '00862',
 '00315',
 '00414',
 '01680',
 '04649',
 '03525',
 '06026',
 '00810',
 '00984',
 '01562',
 '00756',
 '01371',
 '01015',
 '00601',
 '01655',
 '02200',
 '04666',
 '03112',
 '01158',
 '03949',
 '01448',
 '10962',
 '01325',
 '01620',
 '02178',
 '02236',
 '03261',
 '04090',
 '00474',
 '02292',
 '08909',
 '03068',
 '05121',
 '02180',
 '03612',
 '01173',
 '01070',
 '00687',
 '02228',
 '00314',
 '02999',
 '03137',
 '00637',
 '00040',
 '05108',
 '02033',
 '02620',
 '08936',
 '04669',
 '00089',
 '01820',
 '01991',
 '02675',
 '03034',
 '01042',
 '01067',
 '03964',
 '01363',
 '01948',
 '01793',
 '00539',
 '01540',
 '00312',
 '01317',
 '00187',
 '06717',
 '02071',
 '00030',
 '04098',
 '01298',
 '00972',
 '01634',
 '06046',
 '00339',
 '01566',
 '01543',
 '00036',
 '02599',
 '00611',
 '01595',
 '00192',
 '00214',
 '01478',
 '05289',
 '00839',
 '05770',
 '01838',
 '01338',
 '03032',
 '01677',
 '01530',
 '02668',
 '03825',
 '01381',
 '01354',
 '01800',
 '02505',
 '00049',
 '00383',
 '01795',
 '05310',
 '05133',
 '04636',
 '01188',
 '01848',
 '03422',
 '03023',
 '01341',
 '03176',
 '01852',
 '03063',
 '03074',
 '00959',
 '01767',
 '05098',
 '05141',
 '05094',
 '03494',
 '01069',
 '01453',
 '02877',
 '00057',
 '00574',
 '02783',
 '00068',
 '02945',
 '03509',
 '00219',
 '01836',
 '00254',
 '01406',
 '02514',
 '08902',
 '01952',
 '02992',
 '00079',
 '00510',
 '01747',
 '01430',
 '00865',
 '01734',
 '01551',
 '00420',
 '02360',
 '02627',
 '00587',
 '00335',
 '02739',
 '02900',
 '01440',
 '02053',
 '00915',
 '05336',
 '01083',
 '02238',
 '00435',
 '03042',
 '00159',
 '03826',
 '05721',
 '11006',
 '01787',
 '01619',
 '08982',
 '01016',
 '02041',
 '09026',
 '01792',
 '01309',
 '00345',
 '00924',
 '01758',
 '02821',
 '03593',
 '00770',
 '00064',
 '00259',
 '02950',
 '00413',
 '02454',
 '00074',
 '00778',
 '01138',
 '03425',
 '00514',
 '02116',
 '04811',
 '04028',
 '00663',
 '01996',
 '02874',
 '01021',
 '00309',
 '04087',
 '03058',
 '01211',
 '02069',
 '01130',
 '01646',
 '02120',
 '05196',
 '02708',
 '02968',
 '04001',
 '02184',
 '08952',
 '03319',
 '02095',
 '08596',
 '05154',
 '00138',
 '02784',
 '01476',
 '05994',
 '00563',
 '02836',
 '00534',
 '03252',
 '01177',
 '03183',
 '02072',
 '00911',
 '00217',
 '00814',
 '00552',
 '00903',
 '00829',
 '00133',
 '00536',
 '02231',
 '02005',
 '02738',
 '01984',
 '00920',
 '01672',
 '01467',
 '02366',
 '02210',
 '04777',
 '01199',
 '01439',
 '05987',
 '02007',
 '01419',
 '04086',
 '04625',
 '00018',
 '02206',
 '04179',
 '00361',
 '01146',
 '02759',
 '09022',
 '01906',
 '01058',
 '01386',
 '01122',
 '02880',
 '02750',
 '02001',
 '03399',
 '00450',
 '01864',
 '01668',
 '02337',
 '03240',
 '03044',
 '03983',
 '02161',
 '01129',
 '01582',
 '06050',
 '01525',
 '01873',
 '01165',
 '00179',
 '02872',
 '00160',
 '00575',
 '01862',
 '00082',
 '01771',
 '01940',
 '00467',
 ...}

In [32]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37764, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [33]:
set(data_drop['site']) # ดู set ข้อมูลของ 'site'

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

## เปลี่ยน type ข้อมูลเป็น String

In [43]:
import numpy as np # นำเข้า numpy ในชื่อ np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [38]:
data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce') #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ user
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce') #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ ov
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce'); #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ age

In [39]:
data_drop.dtypes # ดูชนิดของข้อมูล

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [40]:
data_drop = data_drop.replace(np.nan, 0, regex=True) #แทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:
data_drop['user'] = data_drop['user'].astype(int) #เปลี่ยนชนิดของข้อมูล user เป็น int
data_drop['ov'] = data_drop['ov'].astype(int) #เปลี่ยนชนิดของข้อมูล ov เป็น int
data_drop['age'] = data_drop['age'].astype(int) #เปลี่ยนชนิดของข้อมูล age เป็น int

In [41]:
data_drop.dtypes # ดูชนิดของข้อมูล

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [42]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes #เปลี่ยน RowKey, phone, urine, title เป็น String

user             int64
RowKey          string
date            object
ov               int64
phone           string
site            object
time            object
urine           string
PartitionKey    object
title           string
age              int64
dtype: object

In [ ]:
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01:26:34,สีน้ำนม,12285,นางสาว,22

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [44]:
set(data_drop['ov']) # ดู set ของข้อมูล ov

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [45]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True) #เปลี่ยนรูปแบบของ time จาก hh:mm:ss กลายเป็น hh-mm-ss

In [46]:
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [ ]:
TF=list()
for each_row in data_drop.iterrows():
    if (10000 < each_row[1]['user'] < 60000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

data2= data_drop[TF]

In [ ]:
data2 #แสดงข้อมูลตาราง data2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,นาง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

> เปลี่ยนคอลัมน์ title เป็นเพศ

In [ ]:
set(data2['title'])   # ดู set ของข้อมูล

{'  นาง',
 ' นาง',
 'Mrs',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ว่าที่ร้อยตรี',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [ ]:
data2['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
set(data2['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [ ]:
data_re = data2.rename(columns={'title':'sex'}) 
data_re.head(5)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50

In [ ]:
data_re.shape

(17967, 11)

In [ ]:
data_01 = data_re

In [ ]:
data_01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [ ]:
data_ho = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
data_ho

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
data_ho = data_ho[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data_ho.shape)
data_ho.head()

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG

In [ ]:
data_ho.isnull().sum()

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [ ]:
data_ho['name'] = data_ho['name'].fillna('ไม่ระบุ') 
data_ho['zone_name'] = data_ho['zone_name'].fillna('ไม่ระบุ') 
data_ho['amphur'] = data_ho['amphur'].fillna('ไม่ระบุ') 
data_ho['tambon'] = data_ho['tambon'].fillna('ไม่ระบุ') 
data_ho['name5'] = data_ho['name5'].fillna('ไม่ระบุ') 
data_ho['short_english'] = data_ho['short_english'].fillna('ไม่ระบุ');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data_ho.isnull().sum()

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [ ]:
data_use = data_01.merge(data_ho,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data_use.head(10)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
2,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57,06288,โรงพยาบาลส่งเสริมสุขภาพตำบลนางพญา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,นางพญา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50,06261,สถานีอนามัยเฉลิมพระเกียรติ 60 พรรษา นวมินทราชินี,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,งิ้วงาม,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
5,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,0,"iPhone12,5",06319,09-32-46,ปกติ (เหลืองใส),00001,ชาย,51,06319,โรงพยาบาลส่งเสริมสุขภาพตำบลนายาง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,นายาง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
6,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,4,"iPhone9,4",05000,11-14-25,สีฟ้า หรือน้ำเงิน,00001,หญิง,47,05000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองขาม,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,ดอนงัว,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
7,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,2,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),00001,หญิง,53,11158,โรงพยาบาลตรอน,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ตรอน,บ้านแก่ง,โรงพยาบาลชุมชน,UTT
8,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,0,"iPhone8,2",04405,14-11-05,ปกติ (เหลืองใส),00001,หญิง,25,04405,โรงพยาบาลส่งเสริมสุขภาพตำบลหันโจด,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,หนองสองห้อง,หันโจด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KKN
9,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,1,"iPhone14,3",06278,11-49-13,ปกติ (เหลืองใส),00001,ชาย,76,06278,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคีรีทอง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,หาดล้า,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT

In [ ]:
data_use.isnull().sum()

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [ ]:
data_use.to_csv(os.path.join(path,'data_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard